<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}
    </head>
    <body class="container-fluid">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{  message }}
            </div>
        {% endfor %}

        <div class="row justify-content-center">
            <div class="col-md-8 p-3">
                {% block body %}{% endblock %}
            </div>
            <aside class="col-md-4 p-2">
                {% block aside %}{% endblock %}
            </aside>
        </div>


        {% block javascripts %}
            <script src="{{ asset('build/runtime.js') }}"></script>
            <script src="{{ asset('build/js/app.js') }}"></script>
            <script src="https://cdn.ckeditor.com/ckeditor5/12.2.0/classic/ckeditor.js"></script>
        {% endblock %}
    </body>
</html>
